body{
	background-image : url('floor.jpg');
	font-family : Tahoma, Geneva, sans-serif;
	font-size : 11pt;
}

body p{
	margin-bottom : 1px;
}

body a:hover{
	background-color: #FFC0CB;
}

#container{
	width : 70%;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	border-radius : 20px;
}

.blank{
	height : 50px;
}

.field{
	width : 80%;
	margin-right: auto;
	margin-left: auto;
}

.field h3{
	text-align : center;
}

#education p, #experience p{
	margin-left: 20px;
}

#info{
	text-align : center;
	font-size : 10pt;
}

#education .col-md-4{
	text-align : center;
	text-decoration: bold;
	font-family : Verdana, Geneva, sans-serif;
}

#education .col-md-8{
	
}

#courses span{
	text-decoration : underline;
}
