/* overall */

#background-container{
	background-image: url('../assets/floor.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	/*font-family: Open Sans,Tahoma,Arial,Verdana,sans-serif;*/
  	font-family: Georgia, serif;
  	font-size: 11pt;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
	padding: 10px;
}

.my-container{
	max-width: 900px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
	border: solid #4B0082 3px;
	text-align: left;
	padding: 10px;
}

#info, .field, #menu{
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width:1800px) {
	#background-container{ font-size: 13pt; }
	.my-container{ max-width: 1400px; }
	#info, .field, #menu{ max-width: 1200px; }
}
@media (min-width:2400px) {
	#background-container{ font-size: 16pt; }
	.my-container{ max-width: 1800px; }
	#info, .field, #menu{ max-width: 1600px; }
}

#info span { /* Korean name */
	font-family: Open Sans,Tahoma,Arial,Verdana,sans-serif;*
}

.field h3{
	text-align: center;
	font-size: 140%;
  	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

h4 {
	margin-top: 2.8%;
	margin-bottom: 1%;
	font-size: 110%;
}

h4 em {
	color: #4B0082;
}

.my-container h3, #info h2{
	/*font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;*/
	font-size: 140%;
	color: #4B0082;
	font-weight: bold;
}


.my-container p{
	margin-bottom: 1px;
}

.my-container a:hover{
	background-color: #FFC0CB;
}

.blank{
	height: 30px;
}

strong.thicker{
	font-weight: 900;
}

sup{
	font-family: Raleway;
}

/* navigator section */

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bababa;
}

#menu li {
    float: left;
}

#menu li:last-child {
    border-right: none;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li:not(.active) a:hover {
    background-color: #777777;
}

#menu .active {
    background-color: #FFC0CB;
}

#project-container {
	display: none;
}


/* info */

#info img{
	padding: 20px;
	border-radius: 50%;
	max-width: 300px;
	height: auto;
}

/* project container */

#project-container .field {
	margin-bottom: 50px;
	clear: both;
}

#project-container img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 250px;
	width: 600px;
	border: solid gray 1px;
	padding: 5px;
	display: inline;
}

/* fields */


#education p, #experience p, #publication p, #honorship p, #service p, p-field p {
	margin-left: 20px;
}


#publication ul, #honorship ul, #service ul {
	padding-left: 5px;
}

#education span, #experience span, #honorship span, #service span, .p-field span {
	font-style: normal;
	border: solid 1px #777777;
	border-radius: 5px;
	font-size: 80%;
	color: #777777;
	padding-left: 10px;
	padding-right: 10px;
}

#education span.loc, #experience span.loc {
	border: solid 1px #7777aa;
	color: #7777aa;
}

.row {
	margin-left: 1%;
	margin-right: 10%;
}

.column {
  	float: left;
  	width: 50%;
}

/* Clear floats after the columns */
.row:after {
  	content: "";
  	display: table;
  	clear: both;
}
